Source: gst-droid
Priority: optional
Maintainer: Bhushan Shah <bhush94@gmail.com>
Build-Depends: debhelper (>= 11),
               droidmedia,
               libgstreamer-plugins-bad1.0-dev,
               libexif-dev,
               libhybris-dev,
               nemo-gstreamer1.0-interfaces-dev
Standards-Version: 4.1.4
Section: libs
Homepage: https://github.com/sailfishos/gst-droid/
Vcs-Git: https://gitlab.com/debian-pm/gst-droid.git
Vcs-Browser: https://gitlab.com/debian-pm/gst-droid

Package: gstreamer1.0-droid-dev
Section: libdevel
Architecture: any
Depends: gstreamer1.0-droid (= ${binary:Version}), ${misc:Depends}
Description: GStreamer droid plug-in.
 GStreamer droid plug-in contains elements using the Android HAL.

Package: gstreamer1.0-droid
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: GStreamer droid plug-in.
 GStreamer droid plug-in contains elements using the Android HAL.

Package: gstreamer1.0-droid-tools
Architecture: any
Depends: gstreamer1.0-droid (= ${binary:Version}), ${misc:Depends}
Description: GStreamer droid plug-in.
 GStreamer droid plug-in contains elements using the Android HAL.
